<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Get the Training to Save A Life</h1>
                <hr>
                <p>Find a training center, schedule an appointment. Rate your experience to improve it for the next person who gets trained!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Sign Up</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Locations</h2>
                    <hr class="light">
                    <p class="text-faded">See the locations near you</p>
                    <a href="#" class="btn btn-default btn-xl">Go!</a>
                </div>
            </div>
        </div>
    </section>
